name: Auto Sync System

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  run-sync:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libs
        run: pip install -r requirements.txt

      - name: Run Script
        run: python main.py

      - name: Commit & Push
        run: |
          git config --global user.name "Github Actions"
          git config --global user.email "actions@github.com"
          git add playlist.m3u
          git commit -m "Auto-update playlist [$(date)]" || echo "No changes"
          git push
