name: System Check

on:
  schedule:
    - cron: '*/30 * * * *' # Her 30 dakikada bir çalışır
  workflow_dispatch: # Manuel tetikleme için

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout content
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run generation script
        run: python main.py

      - name: Commit and Push
        run: |
          git config --global user.name "actions-user"
          git config --global user.email "actions@github.com"
          git add playlist.m3u
          git commit -m "Update playlist log" || echo "No changes to commit"
          git push
