name: Update RecTV Playlist

on:
  schedule:
    - cron: '*/30 * * * *' # 30 dakikada bir çalışır
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run M3U Generator
      run: python rectv_m3u.py

    - name: Check file existence
      id: check_file
      run: |
        if [ -f playlist.m3u ]; then
          echo "exists=true" >> $GITHUB_OUTPUT
        else
          echo "exists=false" >> $GITHUB_OUTPUT
        fi

    - name: Commit and push changes
      if: steps.check_file.outputs.exists == 'true'
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add playlist.m3u
        # Değişiklik yoksa hata verme, varsa commit at
        git diff --quiet && git diff --staged --quiet || (git commit -m "Otomatik Playlist Guncellemesi" && git push)
